In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
# import pymysql
# pymysql.install_as_MySQLdb()
# from config import dbuser, dbpasswd, dburi, dbport, dbname

from sqlalchemy import create_engine

In [2]:
# Define our pet table
class Pet(Base):
    __tablename__ = 'pet'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    type = Column(String)
    age = Column(Integer)

In [3]:
Base.metadata.tables

immutabledict({'pet': Table('pet', MetaData(bind=None), Column('id', Integer(), table=<pet>, primary_key=True, nullable=False), Column('name', String(), table=<pet>), Column('type', String(), table=<pet>), Column('age', Integer(), table=<pet>), schema=None)})

In [4]:
engine = create_engine('sqlite:///pets.sqlite')

In [5]:
Base.metadata.create_all(engine)

In [6]:
from sqlalchemy.orm import Session
session = Session(engine)

from sqlalchemy.orm import session
session = Session(engine)

In [7]:
session.add(Pet(name='Ashish',type = 'Dog', age = 3))
session.add(Pet(name='Ash',type = 'Iguana', age = 4))
session.add(Pet(name='hish',type = 'bear', age = 7))
session.add(Pet(name='Aish',type = 'cat', age = 6))
session.add(Pet(name='Marshmellow',type = 'cat', age = 6))

In [8]:
engine.execute('select * from pet').fetchall()

[(1, 'Justin Timbersnake', 'snek', 2),
 (2, 'Pawtrick Stewart', 'good boy', 10),
 (3, 'Godzilla', 'iguana', 1)]

In [9]:
session.new

IdentitySet([<__main__.Pet object at 0x00000151294F3E10>, <__main__.Pet object at 0x00000151294F3DD8>, <__main__.Pet object at 0x00000151294F3E80>, <__main__.Pet object at 0x00000151294F3F28>, <__main__.Pet object at 0x00000151294F3F98>])

In [10]:
session.commit()

In [11]:
session.new

IdentitySet([])

In [12]:
#IdentitySet([])

In [13]:
session.query(Pet.name, Pet.type,Pet.age).all()

[('Justin Timbersnake', 'snek', 2),
 ('Pawtrick Stewart', 'good boy', 10),
 ('Godzilla', 'iguana', 1),
 ('Ashish', 'Dog', 3),
 ('Ash', 'Iguana', 4),
 ('hish', 'bear', 7),
 ('Aish', 'cat', 6),
 ('Marshmellow', 'cat', 6)]

In [14]:
pets = session.query(Pet).filter_by(name ='Marshmellow').first()

In [15]:
pets.name

'Marshmellow'

In [16]:
print(pets.age)
pets.age = pets.age +1

6

In [17]:
print(pets.age)

7

In [18]:
# commit enables the fllushing of the memory. There should be a commit after every DML action.

In [21]:
pets = session.query(Pet).filter_by(name ='Ash').delete()
session.commit()

In [22]:
engine.execute('select * from pet').fetchall()

[(1, 'Justin Timbersnake', 'snek', 2),
 (2, 'Pawtrick Stewart', 'good boy', 10),
 (3, 'Godzilla', 'iguana', 1),
 (4, 'Ashish', 'Dog', 3),
 (6, 'hish', 'bear', 7),
 (7, 'Aish', 'cat', 6),
 (8, 'Marshmellow', 'cat', 7)]