In [40]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [41]:
# # Create Engine and Pass in MySQL Connection sakila
# engine = create_engine("mysql://root:test@localhost:3306/world")
# conn = engine.connect()

In [50]:

# Create Engine and Pass in MySQL Connection
# engine = create_engine("mysql://root:test@localhost:3306/sakila")
engine = create_engine("mysql://root:test@localhost:3306/world")
# engine = create_engine('mysql://scott:tiger@localhost/foo')
conn = engine.connect()

C:\Users\ravin\AppData\Local\conda\conda\envs\pythonData\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [55]:
# # Query All Records in the the Database
# data = pd.read_sql("SELECT * FROM actor", conn)

# # Query All Records in the the Database
data = pd.read_sql("SELECT * FROM city", conn)

# # Query All Records in the the Database
# data = pd.read_sql("SELECT * FROM people", conn)

# Query All Records in the the Database
# data = pd.read_sql("SELECT * FROM animals_all", conn)
# data = pd.read_sql("SELECT * FROM actor", conn)

In [53]:
# Preview the Data
data.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200